.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 40vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  cursor: progress;
}

.imgPollo {
  position: relative;
  bottom: 80px;
  width: 100px;
  display: block;
}