  .fondoLogin {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 400% 400% !important;
    background: linear-gradient(300deg, #c71f1f 0%, #c2501e 50%, #fcb045 100%);
    animation: cambiar 10s ease-in-out infinite;

  }

  @keyframes cambiar {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  .centrar {
    margin-top: 120px;
    background-color: whitesmoke;
  }

  .titulo-login {
    margin-top: -70px;
    position: relative;
    width: 100%;
  }

  .imagen-diseno {
    width: 150px;
    height: 99px;
    background-color: white;
    position: relative;
    bottom: 75px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  @media only screen and (min-width: 500px) {
    .centrar {
      margin-left: 25%;
      margin-right: 25%;
    }
  }